fastapi
uvicorn[standard]
sqlalchemy>=2.0
alembic
psycopg2-binary
psycopg[binary]
python-dotenv
pydantic
email-validator
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
httpx
google-auth
requests
slowapi
boto3